<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.hyTravel.mapper.SysNotesMapper">
  <resultMap id="BaseResultMap" type="com.hy.hyTravel.entity.SysNotes">
    <id column="NOTE_ID" jdbcType="VARCHAR" property="noteId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="USER_PHONE" jdbcType="VARCHAR" property="userPhone" />
    <result column="USER_EMAIL" jdbcType="VARCHAR" property="userEmail" />
    <result column="NOTE_CONTENT" jdbcType="VARCHAR" property="noteContent" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
    <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="NOTE_STATUS" jdbcType="VARCHAR" property="noteStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    NOTE_ID, USER_NAME, USER_PHONE, USER_EMAIL, NOTE_CONTENT, CREATED_BY, CREATED_TIME,
    UPDATED_BY, UPDATED_TIME, NOTE_STATUS
  </sql>
  <select id="selectByExample" parameterType="com.hy.hyTravel.mapper.SysNotesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_NOTES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from SYS_NOTES
    where NOTE_ID = #{noteId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SYS_NOTES
    where NOTE_ID = #{noteId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hy.hyTravel.mapper.SysNotesExample">
    delete from SYS_NOTES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hy.hyTravel.entity.SysNotes">
    insert into SYS_NOTES (NOTE_ID, USER_NAME, USER_PHONE,
      USER_EMAIL, NOTE_CONTENT, CREATED_BY,
      CREATED_TIME, UPDATED_BY, UPDATED_TIME,
      NOTE_STATUS)
    values (#{noteId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR},
      #{userEmail,jdbcType=VARCHAR}, #{noteContent,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR},
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP},
      #{noteStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hy.hyTravel.entity.SysNotes">
    insert into SYS_NOTES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="noteId != null">
        NOTE_ID,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="userPhone != null">
        USER_PHONE,
      </if>
      <if test="userEmail != null">
        USER_EMAIL,
      </if>
      <if test="noteContent != null">
        NOTE_CONTENT,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="createdTime != null">
        CREATED_TIME,
      </if>
      <if test="updatedBy != null">
        UPDATED_BY,
      </if>
      <if test="updatedTime != null">
        UPDATED_TIME,
      </if>
      <if test="noteStatus != null">
        NOTE_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="noteId != null">
        #{noteId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="noteContent != null">
        #{noteContent,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="noteStatus != null">
        #{noteStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hy.hyTravel.mapper.SysNotesExample" resultType="java.lang.Long">
    select count(*) from SYS_NOTES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SYS_NOTES
    <set>
      <if test="record.noteId != null">
        NOTE_ID = #{record.noteId,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null">
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userPhone != null">
        USER_PHONE = #{record.userPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.userEmail != null">
        USER_EMAIL = #{record.userEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.noteContent != null">
        NOTE_CONTENT = #{record.noteContent,jdbcType=VARCHAR},
      </if>
      <if test="record.createdBy != null">
        CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        CREATED_TIME = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedBy != null">
        UPDATED_BY = #{record.updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedTime != null">
        UPDATED_TIME = #{record.updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.noteStatus != null">
        NOTE_STATUS = #{record.noteStatus,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SYS_NOTES
    set NOTE_ID = #{record.noteId,jdbcType=VARCHAR},
    USER_NAME = #{record.userName,jdbcType=VARCHAR},
    USER_PHONE = #{record.userPhone,jdbcType=VARCHAR},
    USER_EMAIL = #{record.userEmail,jdbcType=VARCHAR},
    NOTE_CONTENT = #{record.noteContent,jdbcType=VARCHAR},
    CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
    CREATED_TIME = #{record.createdTime,jdbcType=TIMESTAMP},
    UPDATED_BY = #{record.updatedBy,jdbcType=VARCHAR},
    UPDATED_TIME = #{record.updatedTime,jdbcType=TIMESTAMP},
    NOTE_STATUS = #{record.noteStatus,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hy.hyTravel.entity.SysNotes">
    update SYS_NOTES
    <set>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        USER_PHONE = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="noteContent != null">
        NOTE_CONTENT = #{noteContent,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="noteStatus != null">
        NOTE_STATUS = #{noteStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where NOTE_ID = #{noteId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hy.hyTravel.entity.SysNotes">
    update SYS_NOTES
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_PHONE = #{userPhone,jdbcType=VARCHAR},
      USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
      NOTE_CONTENT = #{noteContent,jdbcType=VARCHAR},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
      NOTE_STATUS = #{noteStatus,jdbcType=VARCHAR}
    where NOTE_ID = #{noteId,jdbcType=VARCHAR}
  </update>
</mapper>